    <!-- Header-->
<header class="bg-dark  py-1 mb-4">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder text-white-50">Yemeğin En Lezetli Adresi</h1>
            <p class="lead fw-normal text-white-50 mb-0">Doyurucu Tadlar Uygun Fiyatlar</p>
        </div>

    </div>
</header>
